// Primary 
$primaryLight:#e3f2fd;

$primaryMain:#90caf9;

$primaryDark:#42a5f5;

// Secondary

$secondaryLight:#f3e5f5;

$secondaryMain:#ce93d8;

$secondaryDark:#ab47bc;

// Error

$errorLight:#e57373;

$errorMain:#f44336;

$errorDark:#d32f2f;

// Warning

$warningLight:#ffb74d;

$warningMain:#ffa726;

$warningDark:#f57c00;

// Info

$infoLight:#4fc3f7;

$infoMain:#29b6f6;

$infoDark:#0288d1;

// Success

$successLight:#81c784;

$successMain:#66bb6a;

$successDark:#388e3c